.navbar-body {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: end;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #ffffff;
}

.register-btn {
  background-color: #ff7373;
  color: white;
  font-weight: bold;
  width: 110px;
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-button-container {
  margin-right: 20px;
  width: 260px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.sign-btn {
  background-color: #73abff;
  color: white;
  font-weight: bold;
  width: 110px;
  cursor: pointer;
  height: 30px;
  border: none;
  border-radius: 15px;
}
.nav-login-container {
  margin-right: 10px;
  min-width: 30%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.avtar {
  width: 40px;
  cursor: pointer;
}
.avtar img {
  width: 100%;
}
.hamburger-div {
  display: flex;
  justify-content: end;
  margin-left: 20px;
}
.logout-div {
  position: absolute;
  background-color: #ffffff;
  width: 20%;
  min-height: 150px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 50px;
  right: 0;
}
.nav-top-icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav-top-icon {
  width: 90%;
  display: none;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.max-dis {
  display: block;
}
.x-2 {
  background: none;
  border: none;
  font-size: x-large;
  cursor: pointer;
}
.logout-vk {
  display: none;
}
.logout-sm {
  position: absolute;
  width: 100%;
  z-index: 100;
  flex-direction: column;
  min-height: 400px;
  background-color: white;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
}
.logout-dm {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.x-sm {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: xx-large;
}
.sign-btnn {
  background-color: #ff7373;
  color: white;
  font-weight: bold;
  width: 110px;
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  .nav-top-icons {
    display: none;
  }
  .nav-top-icon {
    display: flex;
  }
  .logout-div {
    width: 100%;
  }
  .nav-login-container {
    justify-content: end;
  }
  .max-dis {
    display: none;
  }
  .nav-button-container {
    display: none;
  }
  .logout-vk {
    display: block;
  }
}
